// Colors
$primary: #f4d04e;
$black: #111111;
$white: #ffffff;
$grey: #7f7f7f;

// Font Family
$figtree: "Figtree";

// Font Face
@font-face {
  font-family: $figtree;
  src: url(../assets/fonts/static/Figtree-SemiBold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: $figtree;
  src: url(../assets/fonts/static/Figtree-ExtraBold.ttf);
  font-weight: 800;
}
